.mod-tvplayer {
	position: absolute;
	top:0px;left: 48px;
	bottom:0px;right:0;
	padding: 0px;
	-x-right: 360px;
	-x-left: 302px;
}
.mod-tvplayer > div {
	position: relative;
	top:0px;height:100%;
	left:0px;width:100%;
}