section.mod-channels {
	right: auto;
	left: 48px;
	width: 290px;
}
.chanlist,
.chanlist > li {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}
.chanlist {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	width: 290px;
}
.chanlist > li {
	width: 96px;
	height: 96px;
	margin: 1px 1px 0 0;
	color: lightgray;
	background-color: rgba(70,70,70,.5);
}
section.mod-channels,
.chanlist {width: 362px}
.chanlist > li {
	width: 120px;
	height: 120px;
}
section.mod-channels,
.chanlist {width: 254px}
.chanlist > li {
	width: 84px;
	height: 84px;
}

.chanlist > li:nth-child(-n+3) {margin-top:0}
.chanlist > li:nth-child(3n) {margin-right:0}
.chanlist > li:hover {
	background-color: rgba(255,255,255,.125);
}
.chanlist a {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	background: rgb(235,235,235);
	font-size: 12px;
	line-height: 1;
}
.chanlist a:after,
.chanlist a > span,
.chanlist a > img,
.chanlist a > s {
	display: block;
	position: absolute;
}
.chanlist a > img {
	width: 100%;
	height: auto;
}
.chanlist a > span {
	bottom: 0;
	left:0;right:0;
	margin: 0 .25em .25em;
	text-align: center;
	text-align: left;
	text-shadow: 0 1px 3px black;
	color: white;
}
.chanlist a > s {
	right:0;top:0;
	width: 18px;
	height: 18px;
	text-align: center;
	text-decoration: none;
	color: rgba(200,200,200,.25);
	background: rgba(255,255,255,.00125);
	margin: 3px;
}
.chanlist a > s:after {
	font: 18px/18px 'Segoe';
	content: '\E735';
}
.chanlist a:after {
	content: '';
	left:0;right:0;
	top:0;bottom:0;
	pointer-events:none;
}
.chanlist a:hover:after {
	background: rgba(0,0,200,.05);
	border: 3px solid dodgerblue;
}
.chanlist a.starred > s {
	color: rgb(255,200,0);
	text-shadow: 0 0px 2px black;
}
/*
.chanlist > li {
	width: 100%;
	height: 64px;
	margin: 1px 0 0;
	background: green;
	color: lightgray;
}
.chanlist > li:nth-child(1) {margin-top:0}
*/
