@import url("ui.css");
@import url("spinner.css");
.tvplayer {
	position: relative;
	left:0;width: 100%;
	top:0;height: 100%;
}
.tvplayer > video {
	display: block;
	position:relative;
	left:0;width:100%;
	top:0;height:100%;
	background: rgba(35,35,50,.9);
	object-fit: cover;
}
.tvplayer > sup {
	position: absolute;
	left:0; width:100%;
	top:0; height:100%;
	background: rgba(125,125,125,.5);
	box-shadow: inset 0 0 0 1px cyan;
}


.tvplayer.st-view > s {display:none}

.tvplayer.st-idle > s > s,
.tvplayer.st-idle > s:after,
.tvplayer.st-idle > s:before {border-color:darkorange}

.tvplayer.st-fail > s > s,
.tvplayer.st-fail > s:after,
.tvplayer.st-fail > s:before {border-color:darkred}